.content-part-section-1 {
  position: relative;
}

.content-part-section-1::before {
  width: 543.58px;
  height: 548.51px;
  position: absolute;
  background-image: url("../../../../public/splash-why-1.svg");
  background-repeat: no-repeat;
  content: " ";
  left: 0;
  top: 5%;
  z-index: -1;
}

.content-part-section-3 {
  position: relative;
}

.content-part-section-3::before {
  width: 324.12px;
  height: 417.25px;
  position: absolute;
  background-image: url("../../../../public/splash-why-2.svg");
  background-repeat: no-repeat;
  content: " ";
  right: 0;
  top: 0;
  z-index: -1;
}

.why-us-hero-section {
  margin: 140px 0;
}

.content-part-container-2 {
  padding-bottom: 84px;
  padding-top: 80px;
}

@media screen and (max-width: 992px) {
  .content-part-container {
    padding: 40px 16px 20px 16px;
  }

  .content-part-container-2 {
    padding: 20px 16px 20px 16px;
  }

  .content-part-container-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .why-us-hero-section {
    margin: 0;
  }
  .why-us-hero-section {
    position: relative;
  }
  .why-us-hero-section::after {
    position: absolute;
    content: "";
    background: url("../../../../public/shapedot.png");
    width: 94px;
    height: 94px;
    top: 455px;
    right: 0;
  }
}
