<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Futurbyte</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

      body {
        font-family: "Open Sans", sans-serif;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td align="center">
          <table
            width="550"
            cellspacing="0"
            cellpadding="0"
            border="0"
            style="
              padding: 20px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              padding-top: 0px;
              background: url(https://fb-co-strapi.s3.me-central-1.amazonaws.com/bgimage.png);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: bottom;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <tr>
              <td align="left">
                <img
                  src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/logo.png"
                  alt="Logo"
                  style="position: relative; top: -26px"
                />
              </td>
              <td align="right">
                <img
                  src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/thumbnail.png"
                  alt="Thumbs Up"
                  style="position: relative; top: 126px; right: 30px"
                />
              </td>
            </tr>

            <tr>
              <td colspan="2" style="padding: 20px 0">
                <h2
                  style="
                    color: #000000;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.5;
                  "
                >
                  Thanks for Downloading.
                </h2>
                <p
                  style="
                    margin: 30px 0;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.5;
                  "
                >
                  Hey {{fullName}},
                </p>
                <p
                  style="
                    margin: 20px 0;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.5;
                    padding-right: 65px;
                  "
                >
                  Thank you for checking out our website. We hope you got to
                  know more about us.
                </p>
                <p
                  style="
                    margin: 20px 0;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.5;
                    padding-right: 65px;
                  "
                >
                  The E-Brochure you've requested is attached to this email.
                  Download to get a glimpse into Futurbyte's expertise and let’s
                  engage in a futuristic conversation.
                </p>
                <p
                  style="
                    color: #000000;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.5;
                    margin: 50px 0px;
                  "
                >
                  Team Futurbyte
                </p>
              </td>
            </tr>

            <tr>
              <td
                colspan="2"
                style="
                  padding-top: 20px;
                  text-align: center;
                  background-color: #05055c;
                  border-radius: 10px;
                  padding-bottom: 20px;
                "
              >
                <table cellpadding="10" cellspacing="0" align="center">
                  <tr style="display: flex; gap: 8px">
                    <td>
                      <a href="#"
                        ><img
                          src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/meta.png"
                          alt="X"
                      /></a>
                    </td>
                    <td>
                      <a href="#"
                        ><img
                          src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/linkdin.png"
                          alt="LinkedIn"
                      /></a>
                    </td>
                    <td>
                      <a href="#"
                        ><img
                          src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/instagram.png"
                          alt="Instagram"
                      /></a>
                    </td>
                    <td>
                      <a href="#"
                        ><img
                          src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/facebook.png"
                          alt="Facebook"
                      /></a>
                    </td>
                    <td>
                      <a href="#"
                        ><img
                          src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/binate.png"
                          alt="Facebook"
                      /></a>
                    </td>
                    <td>
                      <a href="#"
                        ><img
                          src="https://fb-co-strapi.s3.me-central-1.amazonaws.com/pinterst.png"
                          alt="Facebook"
                      /></a>
                    </td>
                  </tr>
                </table>

                <p
                  style="
                    margin: 10px 0;
                    font-size: 12px;
                    color: white;
                    text-align: center;
                  "
                >
                  hello@futurbyte.co
                  <span style="padding-left: 5px; padding-right: 5px"></span>
                  www.futurbyte.co
                  <span style="padding-left: 5px; padding-right: 5px"></span>
                  +971 4 709 8000
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
