.card {
    border:  0 2px 5px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    height: 200px;
  
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-img {
    
    text-align: center;
  }


  
