.getStartedSection {
    position: relative;
    background: url("../../../public/customerbg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .schedule {
    width: 306px;
    height: 56px;
    border-radius: 6px;
    background: #b256bd;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 30px;
  }
  
  .leftSection {
    flex: 1;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 1.5rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .benefitItem {
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .scheduleButton {
    background: #a035eb;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .offcanvasBody {
    background: #290a2f;
    color: white;
    padding: 24px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    /* width: 600px; */
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .formTitle {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
  }
  
  .formSubtitle {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inputGroup {
    display: flex;
    gap: 15px;
  }
  
  .submitButton {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    background: #b256bd;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: unset;
  }
  .benefitList {
    padding-left: 0;
  }
  .benefitList li {
    list-style: none;
    margin-bottom: 12px;
  }
  .benefitList {
    margin-top: 24px;
    columns: 2;
  }
  .expert {
    color: #b256bd;
  }
  .form input {
    width: 100%;
    height: 53px;
    padding: 20px 24px;
    border-radius: 6px;
    border: 1.5px solid #545454;
    background-color: unset;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 72px;
  }
  .form input::placeholder {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
  }
  .form select {
    width: 100%;
    height: 53px;
    padding-left: 24px;
    border-radius: 6px;
    border: 1.5px solid #545454;
    background-color: unset;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 72px;
  }
  .form select {
    background-image: url("../../../public/arrowlong.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
  }
  
  .form textarea {
    width: 100%;
    height: 81px;
    background-color: unset;
    padding: 12px 24px 48px 24px;
    border-radius: 6px;
    border: 1.5px solid #545454;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  .form textarea::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  .form select option {
    color: black;
  }
  .leftSection p {
    max-width: 500px;
  }

  .offcanvasBody, .offcanvasHeader {
    background-color: #290a2f;
  }

.success {
  text-align: center;
}

.failed {
  text-align: center;

}

.form-status-div {
  background-color: #290a2f;
  color: #FFFFFF;
  padding: 8px 0;
}

  @media screen and (max-width: 1200px) {
    .leftSection p {
      max-width: unset;
    }
    .offcanvasBody {
      width: 100%;
    }
    .schedule {
      margin-bottom: 30px !important;
    }
  }
  @media screen and (max-width: 992px) {
    .getStartedSection {
      padding: 20px 16px 40px 16px;
    }
  
    .offcanvasBody {
      margin: 0px;
    }
    .top-get-start-container {
      margin: 0;
      padding: 0;
    }
    .top-get-start {
      margin: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .benefitList li {
      font-size: 13px;
      margin-bottom: 0px;
    }
    .schedule {
      margin: 0 auto;
    }
    .formTitle {
      font-size: 30px;
    }
    .formSubtitle {
      font-size: 16px;
    }
    .leftSection h2,
    .leftSection h4 {
      text-align: center !important;
    }
    .leftSection p {
      text-align: center;
    }
    .form textarea::placeholder,
    .form input::placeholder {
      font-size: 16px;
    }
    .form select {
      font-size: 16px;
    }
    .schedule {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 575px) {
    .getStartedSection {
      padding-left: unset;
      padding-right: unset;
      padding-top: 20px;
    }
  
    .offcanvasBody {
      width: 100%;
      margin: 0 auto;
    }
  }
  