.header {
  background-color: #26082a;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  height: 104px;
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  z-index: 10;
  width: 100%;
  position: fixed;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  flex-grow: 1;
  margin-left: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navItem {
  margin: 0 15px;
  position: relative;
}

.navItem a {
  color: white !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.dropdownArrow {
  font-size: 12px;
  margin-left: 5px;
}

.cta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneIcon {
  font-size: 20px;
  margin-right: 10px;
}

.ctaButton {
  width: 296px;
  height: 56px;
  padding: 20px 24px 20px 24px;
  border-radius: 6px;
  background: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: unset;
  color: #290a2f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 38px;
  padding-bottom: 38px;
}

.dropdown {
  background: #000000bf;
  backdrop-filter: blur(13px);
  position: absolute;
  top: 95px;
  width: 100%;
  padding-top: 72px;
  z-index: 1;
  padding-bottom: 166px;
  padding-left: 120px;
  padding-right: 120px;
  position: fixed;
  z-index: 5;
}
.scale {
  width: 508px;
  padding-right: 25px;
}
.scale h3 {
  font-size: 35px;
  font-weight: 300;
  color: #ffffff !important;
  line-height: 1.5;
}
.dropdownContent {
  display: flex;
  justify-content: space-between;
}
.allServices {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  margin-top: 65px;
  text-decoration: unset;
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 18px;
  font-weight: 400;
  color: white !important;
  margin-bottom: 25px;
  text-decoration: none;
}

.list {
  padding: unset;
}
.list li {
  list-style: none;
}
.list li a {
  font-size: 18px;
  font-weight: 400;
  color: #a7a7a7;
  text-decoration: unset;
  margin-bottom: p;
  padding-bottom: 10px !important;
  display: flex;
}
.list li a:hover {
  color: white;
  font-weight: 500;
}
.serviceList {
  width: 295px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Exactly 4 columns */
  gap: 20px;
}
.serviceListNav {
  width: 140px;
}
.serviceListPost {
  width: 116px;
}
.serviceListTitle {
  width: 128px;
}
.serviceListCategory {
  width: 251px;
}
.phoneIcon {
  cursor: pointer;
}

.salesAdvisorSection {
  background: #00000091;
  backdrop-filter: blur(13px);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 670px;
  position: fixed;
  top: 104px;
  z-index: 10;
  right: 6%;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.salesAdvisorSection h3 {
  font-size: 24px;
  font-weight: 600;
}

.salesAdvisorSection p {
  font-size: 18px;
  font-weight: 400;
}

.contactDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contactItem {
  flex: 1 1 calc(50% - 10px);
  text-decoration: none;
  color: #ffffff;
}

.contactItem span {
  font-size: 16px;
  font-weight: 500;
}

.contactItem p {
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  text-decoration: none;
}

.requestCallback {
  background: #b256bd;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.requestCallback span {
  font-size: 16px;
  font-weight: bold;
}

.requestCallback p {
  font-size: 16px;
  margin: 0;
  color: #f5e5f7;
}
.backcall {
  width: 229px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.typically {
  width: 241px;
  font-size: 16px;
  font-weight: 500;
}
.contactItem {
  display: flex;
  align-items: center;
  gap: 15px;
}

.my-dropdown-menu-link {
  cursor: pointer;
}

.my-dropdown-menu-link:hover .my-dropwdown-menu {
  display: block;
}

.my-dropwdown-menu {
  display: none;
  min-width: 250px;
  max-width: fit-content;
  padding: 10px;
  color: #ffffff;
}

.my-dropwdown-menu {
  position: absolute;
  background-color: #000000bf;
  top: 103px;
}

.my-dropwdown-menu ul {
  list-style: none;
  padding: 0;
}

.my-dropwdown-menu ul li {
  padding: 5px;
  text-align: start;
}

.my-dropwdown-menu ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #a7a7a7 !important;
  text-decoration: unset;
}

.my-dropwdown-menu ul li a:hover {
  color: #fff !important;
  font-weight: 500;
}

@media screen and (max-width: 1600px) {
  .scale {
    width: 340px;
    padding-right: 25px;
  }
  .scale h3 {
    font-size: 24px;
  }
  .list li a {
    font-size: 16px;
  }
  .navItem a {
    font-size: 16px;
  }
  .ctaButton {
    width: 285px;
    padding: 20px 10px 20px 10px;
    font-size: 15px;
  }
  .header,
  .dropdown {
    padding-left: 50px;
    padding-right: 50px;
  }
  .title {
    font-size: 16px;
  }
}
@media screen and (max-width: 1366px) {
  .scale h3 {
    font-size: 24px;
  }
  .list li a {
    font-size: 14px;
  }
  .title {
    font-size: 15px;
  }
  .navItem {
    margin: 0 10px;
    position: relative;
  }
  .service {
    gap: 5px;
  }
  .ctaButton {
    width: 261px;
  }
  .cta {
    gap: 0px;
  }
  .navItem a {
    font-size: 14px;
  }
  .dropdown {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .header,
  .dropdown {
    display: none;
  }
}
@media screen and (max-width: 250px) {
  .my-dropwdown-menu {
    min-width: 100%;
  }
}
