/* Jobs Card Css */
.jobCard {
  border: 0px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s ease;
  margin-bottom: 56px;
  text-align: left;
}

.jobCard:hover {
  transform: translateY(-5px);
}

.applyNow {
  color: #6c63ff;
  text-decoration: none;
}

.applyNow:hover {
  text-decoration: underline;
}

.jobId {
  color: #0a0d31;
  border: 1px solid #cdcdcd;
  font-weight: bold;
  padding: 5px 22px;
  font-size: 14px;
  margin: 0;
  width: 77px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

.parent:hover .jobId {
  background-color: #b256bd;
  color: #ffffff;
}

.jobLocation {
  font-size: 24px;
  font-weight: 600;
  color: #0a0d31;
  line-height: 36px;
  margin-left: 18px;
}

.jobType {
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  color: #290a2f;
}

.jobApply {
  font-size: 18px;
  color: #0a0d31;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.parent:hover .jobApply {
  color: #b256bd;
}

.heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #0a0d31;
}
.headdescriptioning {
  font-size: 18px;
  font-weight: 400;
  color: #3b3b3b;
  line-height: 27px;
  margin-bottom: 40px;
}
.dotlong {
  gap: 30px;
}
.jobTypedes {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  color: #3b3b3b;
}
.titlejob {
  font-size: 22px;
  font-weight: 500;
  color: #0a0d31;
  margin-bottom: 44px;
}
.careerStyle {
  padding-top: 130px;
  padding-bottom: 74px;
}

@media (max-width: 768px) {
  .careerStyle {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .heading {
    font-size: 27px;
    line-height: 32.4px;
    text-align: center;
  }

  .headdescriptioning {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .titlejob {
    margin-bottom: 16px;
  }

  .jobCard:hover {
    transform: unset;
  }

  .jobLocation {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
  }
}
