.calculator-section-one {
  background-image: url("../../../../public/bg-calculator.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 77px;
  padding-bottom: 140px;
}

.calculator-section-two {
  padding-top: 130px;
  padding-bottom: 130px;
}

.caculator-section-three {
  background-image: url("../../../../public/bg-calculator.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 80px;
}

.calculator-section-four {
  padding: 130px 0 53px 0;
}

.growth-first-inner {
  padding-top: 23px;
  padding-right: 39px;
}

.growth-first-inner h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  text-align: left;
  color: #0a0d31;
}

.growth-first-inner p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #656565;
  margin: 0;
}

.calculator-section-one-container,
.calculator-section-two-container,
.calculator-section-three-container,
.calculator-section-four-container {
  padding-left: 0;
  padding-right: 0;
}

.calculator-section-two {
  position: relative;
}

.calculator-section-two::before {
  background-image: url("../../../../public/splash_calculator_second.svg");
  top: -130px;
  position: absolute;
  content: " ";
  width: 324.12px;
  height: 417.25px;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .growth-first-inner {
    margin-bottom: 40px;
    padding-right: 0;
  }

  .growth-first-inner h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 30.8px;
    letter-spacing: -0.03em;
  }

  .growth-first-inner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .calculator-section-one {
    background-image: none;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .calculator-section-two {
    display: none;
  }

  .caculator-section-three {
    padding-top: 17px;
    padding-bottom: 0px;
  }

  .calculator-section-four {
    padding: 43px 0 0 0;
  }

  .calculator-section-one-container,
  .calculator-section-two-container,
  .calculator-section-three-container,
  .calculator-section-four-container {
    padding: 0 16px;
  }

  .calculator-section-five {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
